 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');
.header {
         font-family: 'Open Sans', sans-serif;
         width: cover;
         height: 130px;
         background: #4775d1;
 }
 #background {
        background-color: #ffffe5;
        height: 1400px;
 }
 #logo {
        padding-top: 300px;
        padding-left: 150px;
        width: 50px;
        height: 50px;
        clear: both;
 }
 .header ul {
         color: white;
         text-align: right;
         font-size: 20px;
         font-weight: 700px;
         clear: both;
         list-style: none;
         padding-right: 20px;
         float: right;
         padding-top: 70px;
 }
 li {
        display: inline;
        margin-top: 40px;
         margin-right: 40px;
 }
#GGimage {
        float: left;
        margin-left: 70px;
        width: 300px;
        box-shadow: 110px 10px 5px #888888;
        margin-right: 50px;
        margin-top: 70px
}
#resume {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        clear: both;
        color: navy blue;
        font-size: 20px;
        font-weight: 300px;
        padding-top: 10px;
        line-height: 120%;
}
h1 {
        font-style: bold;
        padding-top: 30px;
        font-weight: bold;
        font-size: 25px;
        clear: both;
}
.hi {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        color: navy blue;
        font-size: 20px;
        font-weight: 300px;
        padding-top: 150px;
        width: 1000px;
        display: inline-block;
        padding-left: 100px;
}
#footer {
	margin-left: 45%;
	padding-top:80px;
}
footer {
	background-color: #79d3a6;
	height: 200px;
        clear: both;
        width: cover;
}